= form_for taxi do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
    - if taxi.errors[:name].any?
      .has-error
        p.help-block= taxi.errors[:name].first

  .actions
    = f.submit class: "btn btn-primary"
    | &nbsp;
    = link_to "Back", taxis_path, class: "btn btn-default"
