h1.page-header  Global Taxis

table.table.table-striped.table-bordered
  thead
    tr
      th  Name
  tbody
    - global_taxis.each do |taxi|
      tr
        td = taxi.name

h1.page-header
  |  User Taxis&nbsp;
  = link_to "New Taxi", new_taxi_path, class: "btn btn-primary btn-xs"

table.table.table-striped.table-bordered
  thead
    tr
      th  Name
      th
        .pull-right  Action
  tbody
    - taxis.each do |taxi|
      tr
        td = taxi.name
        td
          .pull-right
            = link_to "Edit", edit_taxi_path(taxi), class: "btn btn-default btn-xs"
            - unless taxi.rides.exists?
              | &nbsp;
              = link_to "Destroy", taxi, data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-xs"
