.row
  .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
    = link_to omniauth_path(:facebook), class: "btn btn-lg btn-block btn-social btn-facebook" do
      span.fa.fa-facebook
      |  Sign In with Facebook
    = link_to omniauth_path(:google_oauth2), class: "btn btn-lg btn-block btn-social btn-google" do
      span.fa.fa-google
      |  Sign In with Google
    = link_to omniauth_path(:github), class: "btn btn-lg btn-block btn-social btn-github" do
      span.fa.fa-github
      |  Sign In with Github
