- if flash.notice || flash.alert
  .row
    .col-xs-12
      - if flash.notice
        .alert.alert-info
          = flash.notice
      - if flash.alert
        .alert.alert-danger
          = flash.alert
