h1.page-header  Current Week Stats

table.table.table-striped.table-bordered
  thead
    tr
      th  Rides sum
      th  Total price
  tbody
    - if weekly_statistic.total_distance.to_i > 0
      tr
        td = "#{number_with_delimiter(distance_in_km(weekly_statistic.total_distance), delimiter: " ")} km"
        td = number_to_currency(weekly_statistic.total_price, format: "%n %u", unit: "EUR", delimiter: " ")

h1.page-header  Current Month Stats

table.table.table-striped.table-bordered
  thead
    tr
      th  Day
      th  Rides sum
      th  Avg. ride
      th  Avg. price
      th  Taxis
  tbody
    - monthly_statistic.each do |element|
      tr
        td
          = element.date.strftime("%b, #{element.date.day.ordinalize}")
        td = "#{number_with_delimiter(distance_in_km(element.total_distance), delimiter: " ")} km"
        td = "#{number_with_delimiter(distance_in_km(element.average_distance), delimiter: " ")} km"
        td = number_to_currency(element.average_price, format: "%n %u", unit: "EUR", delimiter: " ")
        td = element.taxis
