= form_for ride do |f|
  .form-group
    = f.label :start_address
    = f.text_field :start_address, class: "form-control"
    - if ride.errors[:start_address].any?
      .has-error
        p.help-block= ride.errors[:start_address].first

  .form-group
    = f.label :destination_address
    = f.text_field :destination_address, class: "form-control"
    - if ride.errors[:destination_address].any?
      .has-error
        p.help-block= ride.errors[:destination_address].first

  .form-group
    = f.label :price
    = f.text_field :price, class: "form-control"
    - if ride.errors[:price].any?
      .has-error
        p.help-block= ride.errors[:price].first

  .form-group
    = f.label :taxi_id
    = f.select :taxi_id, taxis.map { |taxi| [taxi.name, taxi.id] }, { include_blank: true }, class: "form-control"
    - if ride.errors[:taxi].any?
      .has-error
        p.help-block= ride.errors[:taxi].first

  .form-group
    = f.label :date
    = f.text_field :date, class: "form-control"
    - if ride.errors[:date].any?
      .has-error
        p.help-block= ride.errors[:date].first

  .actions
    = f.submit class: "btn btn-primary"
    | &nbsp;
    = link_to "Back", rides_path, class: "btn btn-default"
