h1.page-header
  |  Rides&nbsp;
  = link_to "New Ride", new_ride_path, class: "btn btn-primary btn-xs"

table.table.table-striped.table-bordered
  thead
    tr
      th  Day
      th  Start Address
      th  Destination Address
      th  Distance
      th  Price
      th  Taxi
      th
        .pull-right  Action
  tbody
    - rides.each do |ride|
      tr
        td = l ride.date, format: :long
        td = ride.start_address
        td = ride.destination_address
        td = "#{number_with_delimiter(distance_in_km(ride.distance), delimiter: " ")} km"
        td = number_to_currency(ride.price, format: "%n %u", unit: "EUR", delimiter: " ")
        td = ride.taxi.name
        td
          .pull-right
            = link_to "Edit", edit_ride_path(ride), class: "btn btn-default btn-xs"
            | &nbsp;
            = link_to "Destroy", ride, data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-xs"
