doctype html
html
  head
    title Riderank
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  body
    nav.navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          - if current_user
            button.navbar-toggle.collapsed aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          = link_to root_path, class: "navbar-brand" do
            | Riderank
        - if current_user
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                = link_to "Rides", rides_path
              li
                = link_to "Taxis", taxis_path
            ul.nav.navbar-nav.navbar-right
              li
                = link_to "Sign out", sign_out_path
    .container
      = render "shared/flash"
      = yield
